$font-size-site-title: 55px;
$line-height-site-title: 1;
$font-size: 18px;
$line-height: 22px;

$img_min_width: 650px;

$unit_small: 25px;
$unit_large: 140px;

$color_blue: #00c;
$color_text: #000;

$transition: all 0.8s;

$font: 'MariaPro';
$font_path: 'http://s3.amazonaws.com/pcwiley-static/fonts/MariaPro/MariaPro';

@font-face {
  font-family: $font;
  src: url('#{$font_path}.eot?#iefix') format('embedded-opentype'),  url('#{$font_path}.otf')  format('opentype'),
       url('#{$font_path}.woff') format('woff'), url('#{$font_path}.ttf')  format('truetype'), url('#{$font_path}.svg##{$font}') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
  Body & Global
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  letter-spacing: 1px;
  color: $color_text;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
}

/*
  Site Title
*/
h1#title {
  font-size: $font-size-site-title;
  line-height: $line-height-site-title;
  font-family: 'Brush Script MT', serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  position: fixed;
  top: $unit_small;
  left: $font-size-site-title + $unit_small;
  transform-origin: 0 0;
  transform: rotate(90deg);
  a {
    text-decoration: none;
    -webkit-text-stroke: 1px $color_blue;
    color: transparent;
  }
}

/*
  Nav
*/
nav#nav {
  position: fixed;
  left: $unit_small;
  bottom: $unit_small;
}
nav#nav ul {
  margin: 0;
  padding: 0;
}
nav#nav ul li {
  margin-top: $unit_small / 2;
}
nav#nav ul a {
  text-decoration: none;
  &:visited, &:active {
    color: $color_blue;
  }
}

/*
  Text
*/
div#text {
  position: fixed;
  left: $unit_large;
  top: $unit_small;
  width: $unit_large*2;
}
div#text h2, div#text h3 {
  margin: 0;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}
div#text p {
  font-size: $font-size;
  line-height: $line-height;
  margin: $line-height 0;
  a, a:visited, a:active {
    color: $color_text;
    text-decoration: none;
    border-bottom: 1px solid $color_blue;

  }
}
div#archive {
  padding: $unit_small 0;
  article {
    float: none;
    margin-left: $unit_large + $unit_large*2 + $unit_small;
    margin-right: $unit_small;
    min-width: $img_min_width;
    img {
      max-width: 100%;
    }
    &:nth-of-type(n+2) {
      margin-top: $unit_large;
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

/*
  Break 1
*/
/* break_1 = 140px + 280px + 25px + 580px +25px*/
/* mobile = 780 */
@media (max-width: ($unit_large + $unit_large*2 + $unit_small + $img_min_width + $unit_small)) { // 1050px
  div#archive {
    text-align: right;
    article {
      float: right;
      width: $img_min_width;
      margin-left: 0;
    }
  }
}

/*
  Mobile break
*/
@media (max-width: 820px) {
  h1#title {
    transform: rotate(0);
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 46px;
    letter-spacing: 3px;
  }
  
  nav#nav {
    right: $unit_small;
  }
  nav#nav ul li {
    position: absolute;
    bottom: 0;
  }
  nav#nav ul li:last-child {
    right: 0;
  }
  div#text {
    left: $unit_small;
    right: $unit_small;
    width: auto;
    top: 100px;
  }
  div#archive {
    padding: 200px $unit_small $unit_small*2;
    article {
      margin: 0;
      width: 100%;
      max-width: 100%;
      min-width: auto;
    }
  }
}

/*
  Admin
*/
a#admin {
  position: fixed;
  top: 0;
  right: 0;
}
p.meta {
  display: none;
}