$font-size-site-title: 94px;
$line-height-site-title: 10/11;
$font-size: 20px;

$body-padding-x: 30px;
$body-padding-y: 25px;

$sketch_width: 40; //em
$sketch_height: 24; //em

$black: #000;
$blue: #00c;

$transition: all 0.8s;

$desktop_break: ($sketch_width + 15)*20px;

$mobile_break: 38*20+0px;
$mobile-font-size-site-title: 66px;
$mobile-body-padding-x: 20px;
$mobile-body-padding-y: 15px;

html {
  font-size: $font-size;
  color: $black;
}

body {
  font-size: $font-size;
  padding: $body-padding-y $body-padding-x;
}
@media (max-width: $mobile_break) { // mobile
  body {
    padding: $mobile-body-padding-y $mobile-body-padding-x;
  }
}

#site_title {
  margin: 0;
  font-size: $font-size-site-title;
  line-height: $line-height-site-title;
  position: fixed;
  top: $body-padding-y - 6; // need to change for Maria
  left: $body-padding-x - 8; // need to change for Maria
  a {
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $black;
    color: transparent;
    transition: $transition;
    &:hover {
      transition: none;
      -webkit-text-stroke-color: $blue;
    }
    &:active, &:visited {
      color: transparent;
    }
  }
}
@media (max-width: $mobile_break) { // mobile
  #site_title {
    font-size: $mobile-font-size-site-title;
    top: $mobile-body-padding-y - 4; // need to change for Maria
    left: $mobile-body-padding-x - 8; // need to change for Maria
  }
}

#site_nav ul {
  padding: 0;
  margin: 0;
  li {
    position: fixed;
    font-size: 2rem;
    &:nth-child(1) {
      left: $body-padding-x - 3; // need to change for Maria
      bottom: $body-padding-y * 2/3;
    }
    &:nth-child(2) {
      bottom: $body-padding-y * 2/3;
      left: calc(50% - 1.3em); // need to change for Maria
    }
    &:nth-child(3) {
      bottom: $body-padding-y * 2/3;
      right: $body-padding-x - 3;
    }
    a {
      color: $black;
      text-decoration: none;
      //border-bottom: 2px solid $blue;
      transition: $transition;
      &:hover {
        transition: none;
      }
      &:active, &:visited {
        color: $black;
      }
    }
  }
}
@media (max-width: $mobile_break) {
  #site_nav ul li {
    font-size: 1.5rem;
    &:nth-child(1) {
      left: $mobile-body-padding-x - 3; // need to change for Maria
      bottom: $mobile-body-padding-y * 2/3;
    }
    &:nth-child(2) {
      bottom: $mobile-body-padding-y * 2/3;
      left: calc(50% - 1.3em); // need to change for Maria
    }
    &:nth-child(3) {
      bottom: $mobile-body-padding-y * 2/3;
      right: $mobile-body-padding-x - 3;
    }
  }
}

#body {
  min-width: 1100px;
  box-sizing: border-box;
  padding: 0 4rem 0.5rem 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  font-size: 2rem;
  color: $black;
  p:first-child {
    margin-top: 0;
  }
}
@media (max-width: $desktop_break) { //canvas width + 2x padding of canvas container
  #body {
    min-width: 100%;
  }
}
@media (max-width: $mobile_break) {
  #body {
    position: static;
    transform: none;
    padding-top: 8rem;
    padding-right: 0;
    font-size: 1.5rem;
  }
}
@media (orientation: landscape) and (max-width: $mobile_break) and (min-device-width: 375px) and (max-device-width: 667px) { // serious mobile targeting
  #body {
    padding-top: 6rem;
  }
}

#container_canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7rem 7.5rem 5rem; 
  z-index: -1;
}

canvas#main {
  width: 100% !important;
  height: 100% !important;
  max-width: $sketch_width*1em;
  max-height: $sketch_height*1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}
@media (max-width: $desktop_break) { //canvas width + 2x padding of canvas container
  canvas#main {
    max-width: calc(100% - 15rem);
  }
}
@media (max-width: $mobile_break) { // mobile
  #container_canvas {
    padding: 0;
  }
  canvas#main {
    margin: 0;
    position: fixed;
    transform: none;
    left: 0;
    top: 5.25rem;
    max-width: calc(100% - 3rem);
    max-height: calc(100% - 14rem) !important;
  }
}
@media (orientation: landscape) and (max-width: $mobile_break) and (min-device-width: 375px) and (max-device-width: 667px) { // serious mobile targeting
  canvas#main {
    max-height: calc(100% - 8rem) !important;
  }
}

#admin {
  position: fixed;
  top: 0;
  right: 0;
  background-color: yellow;
  color: black;
  font-size: $font-size;
}