<!DOCTYPE HTML>

<html lang='en-us' dir='ltr'>

<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

  <title>P C W I L E Y</title>
  <link rel="shortcut icon" href="/ico/favicon.ico">

  <link rel="stylesheet" href="/css/normalize.css">
  <% if defined? @page then %><link rel="stylesheet" href="/css/style.css" type="text/css"/><% end %>

  <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

  <body id='<%= if @page then @page.slug else "admin" end %>' class='<%= if @page then @page.type end %>'>
    <div id='wrap'>
      <%= yield %>
    </div>
  </body>


  <!-- Load jQuery + paper.js + fluidvids -->
  <script type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/fluidvids.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>
  <script type="text/javascript">
    fluidvids.init({
      selector: ['iframe', 'object'], // runs querySelectorAll()
      players: ['player.vimeo.com'] // players to support
    });
  </script>

  <!--script src="/js/main.js"></script>
  <script src="/js/ga.js"></script -->

</html>