<form role="form" action="" method="post">
  <input type="text" name="slug">
	<input type="text" name="title">
	<textarea name="body"></textarea>
	<input type="checkbox" value="true" name="published">
	<button type="submit" class="btn">new</button>
</form>