<form role="form" action="" method="post">
	<input type="text" name="title">
	<input type="textarea" name="body">
	<input type="checkbox" value="true" name="published">
	<button type="submit" class="btn btn-default">New</button>
</form>